
	<div>
		<div style="display: block">
			<canvas baseChart 
        [datasets]="barchartData"
        [labels]="yearLabels"
        
        
        [legend]="barchartLegend"
        [chartType]="chartType2">
      </canvas>
		</div>

  </div>


<mat-card>
    <mat-card-title>
        {{player_name}}
    </mat-card-title>
    <mat-card-content>
    <p>    {{country}}</p>
    <p>{{batting_style}} batsman</p>
    <p>{{bowling_skill}} bowler</p>
    </mat-card-content>
    
</mat-card>

<mat-card>
    <h4>Batting Statistics</h4>
    <mat-card-content style = 'margin-left : 10px; margin-top: 10px;'>
        <p>
            <b>Matches played: </b>{{nmatches}}
        </p>
        <p><b>Total runs: </b>{{runs}}</p>
        <p><b>Runs by 4: </b>{{fours}}</p>
        <p><b>Runs by 6: </b>{{sixes}}</p>
        <p><b>Fifties: </b>{{fifty}}</p>
        <p><b>Highest score: </b>{{hs}}</p>
        <p><b>Strike rate: </b>{{strike_rate}}</p>
        <p><b>Average: </b>{{average}}</p>
    </mat-card-content>
    
</mat-card>

<mat-card>
    <h4>Bowling Statistics</h4>
    <mat-card-content style = 'margin-left : 10px; margin-top: 10px;'>
        <p>
            <b>Matches bowled: </b>{{matches_bowled}}
        </p>
        <p><b>Runs conceded: </b>{{runs_conceded}}</p>
        <p><b>Balls bowled: </b>{{balls}}</p>
        <p><b>Overs bowled: </b>{{overs}}</p>
        <p><b>Wickets taken: </b>{{wickets}}</p>
        <p><b>Economy </b>{{economy}}</p>
        <p><b>Five wickets: </b>{{five_wickets}}</p>
    </mat-card-content>
    
</mat-card>


<div>
    <div style="width: 100%; overflow-x: auto; overflow-y: hidden">
    <div style="height: 300px">
        <canvas height="300" width="0" baseChart 
    [datasets]="bowling_data"
    [labels]="bowlingYearLabels"
    [legend]="barchartLegend"
    [chartType]="chartType"
    [options]="bowlerOptions"
    >
  </canvas>
    </div>
    </div>

</div>
