<!-- <div *ngIf={{should_show}}> -->
<!-- <ul class='matches'>
    <li *ngFor="let match of matches">
        {{match["rn"]}} {{match["season_year"]}}
    </li>
</ul> -->

<mat-list>
    <mat-list-item class="myclass" *ngFor = "let match of matches"> 
        <!-- <mat-icon matListIcon>folder</mat-icon> -->
        <a [routerLink] = "['/matches/summary', match['match_id']]">
        <h1 matLine> Match : {{match["t1_name"]}} vs {{match["t2name"]}} </h1>
        <!-- <br> -->
        <p matLine> 
             Venue : {{match["vname"]}}
        </p>
        <!-- <br> -->
        <p matLine>
            {{match["winner_name"]}} won the match
        </p>
        <!-- <p matLine> 
            Winner = {{match["match_winner"]}}
        </p> -->
    </a>
    </mat-list-item>
    <!-- <br>
    <br> -->

</mat-list>

<mat-paginator (page)="handlePageEvent($event)"
[pageSizeOptions]="pageSizeOptions"
[pageSize]="pageSize"
class="sticky left-0"
[length]="length"
[pageIndex]="pageIndex"
aria-label="Select page"
></mat-paginator>



<!-- </div> -->