<!-- 
<mat-list>
    <mat-list-item class="myclass" *ngFor = "let venue of venues"> 
         <mat-icon matListIcon>folder</mat-icon>
        <a [routerLink] = "['/venues', venue['venue_id']]">
        <h1 matLine>{{venue["venue_name"]}}</h1>
        <<br>
        <br>
        <p matLine>
            {{match["winner_name"]}} won the match
        </p> 
        <p matLine> 
            Winner = {{match["match_winner"]}}
        </p>
    </a>
    </mat-list-item>
    <br>
    <br>

</mat-list> -->
<button mat-button [routerLink] = "['/venues','add']">Add Venue</button>

<table>
    <tr *ngFor = "let x of venues">
        <a [routerLink] = "['/venues', x['venue_id']]">
      <td><h4>{{ x["venue_name"] }}</h4></td>
    </a>
    </tr>
  </table>

<!--
<table mat-table [dataSource]="venues">
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Venue Name</th>
        <td mat-cell *matCellDef="let venue"> {{venue["venue_name"]}} </td>
      </ng-container>      
</table> -->

<mat-paginator (page)="handleEvent($event)"
[pageSizeOptions]="pageSizeOptions"
[pageSize]="pageSize"
class="sticky left-0"
[length]="length"
[pageIndex]="pageIndex"
aria-label="Select page"
></mat-paginator>
