.myclass{
    margin-top : 15px;
    margin-left : auto;
    margin-right: auto;
}

.mat-list{
    margin-left: auto;
    margin-right: auto;
}
.divspin{
    // width: 100%;
    // height: 100%;
    position:absolute;
    left:45%;
    right:45%;
    top:45%;
    bottom:45%;
}
