<div class=center style="width:100%;">
        <form [formGroup]="venueForm" (ngSubmit)="onSubmit()"  class="form-group">
            
            <div class="in">Venue Name:</div>
            <mat-form-field >
                <input matInput formControlName="venue_name" required >
            </mat-form-field>
            
            <div class="in">City Name:</div>
            <mat-form-field>
                <input matInput formControlName="city_name" required>
            </mat-form-field>
    
            <div class="in">Country Name:</div>
            <mat-form-field>
                <input matInput formControlName="city_name" required>
            </mat-form-field>

            <div class="in">Capacity:</div>
            <mat-form-field>
                <input matInput formControlName="city_name" required>
            </mat-form-field>
            
            <button type="submit" >Submit</button>
            
        </form> 
        
    </div>