<h1>
    <u>
        Points table for the year {{season_year}}
    </u>
</h1>

<table mat-table [dataSource] = "points_table" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="Team Name">
        <th mat-header-cell *matHeaderCellDef> Team Name </th>
        <td mat-cell *matCellDef="let element">  {{element["team_name"]}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Matches Played">
        <th mat-header-cell *matHeaderCellDef> Runs </th>
        <td mat-cell *matCellDef="let element"> {{element["nmatches"]}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Wins">
        <th mat-header-cell *matHeaderCellDef> Wins </th>
        <td mat-cell *matCellDef="let element"> {{element["totwins"]}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Losses">
        <th mat-header-cell *matHeaderCellDef> Losses </th>
        <td mat-cell *matCellDef="let element"> {{element["totloss"]}} </td>
      </ng-container>

      <ng-container matColumnDef="Points">
        <th mat-header-cell *matHeaderCellDef> Points </th>
        <td mat-cell *matCellDef="let element"> {{element["points"]}} </td>
      </ng-container>

      <ng-container matColumnDef="NRR">
        <th mat-header-cell *matHeaderCellDef> Net RR </th>
        <td mat-cell *matCellDef="let element"> {{element["trr"]}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columns_displayed"></tr>
      <tr mat-row *matRowDef="let row; columns: columns_displayed;"></tr>
    
</table>