<div class="splitscreen">
  <div class="left">
      <h2>First Innings Bat</h2>>
      <!-- FF1 -->
      <table mat-table [dataSource] = "first_innings_bat" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="batter">
            <th mat-header-cell *matHeaderCellDef> Batter </th>
            <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fours">
            <th mat-header-cell *matHeaderCellDef> Fours </th>
            <td mat-cell *matCellDef="let element"> {{element["nfours"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="sixes">
            <th mat-header-cell *matHeaderCellDef> Sixes </th>
            <td mat-cell *matCellDef="let element"> {{element["nsixes"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        
    </table>
    <br>
    <h2>Second Innings Bat</h2>
    <table mat-table [dataSource] = "second_innings_bat" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="batter">
          <th mat-header-cell *matHeaderCellDef> Batter </th>
          <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
        </ng-container>
      
        
        <ng-container matColumnDef="runs">
          <th mat-header-cell *matHeaderCellDef> Runs </th>
          <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="fours">
          <th mat-header-cell *matHeaderCellDef> Fours </th>
          <td mat-cell *matCellDef="let element"> {{element["nfours"]}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="sixes">
          <th mat-header-cell *matHeaderCellDef> Sixes </th>
          <td mat-cell *matCellDef="let element"> {{element["nsixes"]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
      
  </table>
    
  </div>

  <div class="right">
      <h2> First Innings Bowl</h2>
      <table mat-table [dataSource] = "first_innings_bowl" class="mat-elevation-z8 demo2-table">
        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          <ng-container matColumnDef="balls_bowled">
            <th mat-header-cell *matHeaderCellDef> Balls Bowled </th>
            <td mat-cell *matCellDef="let element"> {{element["nballs"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="runs_given">
            <th mat-header-cell *matHeaderCellDef> Runs Given </th>
            <td mat-cell *matCellDef="let element"> {{element["total_runs"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
        
    </table> 
    <br>
    <h2>Second Innings Bowl</h2>
    <table mat-table [dataSource] = "second_innings_bowl" class="mat-elevation-z8 demo2-table">
      <ng-container matColumnDef="bowler">
          <th mat-header-cell *matHeaderCellDef> Bowler </th>
          <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
        </ng-container>
      
        <ng-container matColumnDef="balls_bowled">
          <th mat-header-cell *matHeaderCellDef> Balls Bowled </th>
          <td mat-cell *matCellDef="let element"> {{element["nballs"]}} </td>
        </ng-container>
      
        <ng-container matColumnDef="runs_given">
          <th mat-header-cell *matHeaderCellDef> Runs Given </th>
          <td mat-cell *matCellDef="let element"> {{element["total_runs"]}} </td>
        </ng-container>
      
        <ng-container matColumnDef="wickets">
          <th mat-header-cell *matHeaderCellDef> Wickets </th>
          <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
      
  </table>
  
      <!-- FF2 -->
  </div>
</div>


<div>
  <div style="display: block">
      <canvas baseChart 
  [datasets]="comparisonChartData"
  [labels]="overLabels"
  [chartType]="comparison_chart"
  
  >
</canvas>
  </div>

</div>

<div class="splitscreen">
  <div class="left">
      <h2>First Innings Top Batsmen</h2>>
      <table mat-table [dataSource] = "first_innings_top_bat" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="batter">
            <th mat-header-cell *matHeaderCellDef> Batter </th>
            <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
          </ng-container>
        
          
        
          <tr mat-header-row *matHeaderRowDef="displayColumn3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn3;"></tr>
        
    </table>
    <br>
    <h2>Second Innings Top Batsmen</h2>
    <table mat-table [dataSource] = "second_innings_top_bat" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="batter">
          <th mat-header-cell *matHeaderCellDef> Batter </th>
          <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
        </ng-container>
      
        
        <ng-container matColumnDef="runs">
          <th mat-header-cell *matHeaderCellDef> Runs </th>
          <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
        </ng-container>
      
        
        
      
        <tr mat-header-row *matHeaderRowDef="displayColumn3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumn3;"></tr>
      
  </table>
    
  </div>

  <!-- <div class="right">
      <h2> First Innings Top Bowler</h2>
      <table mat-table [dataSource] = "first_innings_top_bowl" class="mat-elevation-z8 demo2-table">
        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          
          <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayColumn4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn4;"></tr>
        
    </table> 
    <br>
    <h2> Second Innings Top Bowler</h2>
      <table mat-table [dataSource] = "second_innings_top_bowl" class="mat-elevation-z8 demo2-table">
        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          
          <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayColumn4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn4;"></tr>
        
    </table> 
  
  </div> -->
</div>




