<h1 align:center>
<u>ScoreCard</u>  
</h1>

<div class="splitscreen">
  
  <div class="left">

      <div *ngIf="first_innings_bat.length &gt; 0">
      <h2>First Innings Bat</h2>
      <table mat-table [dataSource] = "first_innings_bat" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="batter">
            <th mat-header-cell *matHeaderCellDef> Batter </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['player_id']]"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fours">
            <th mat-header-cell *matHeaderCellDef> Fours </th>
            <td mat-cell *matCellDef="let element"> {{element["nfours"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="sixes">
            <th mat-header-cell *matHeaderCellDef> Sixes </th>
            <td mat-cell *matCellDef="let element"> {{element["nsixes"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        
    </table>
  </div>
    <br>
    <div *ngIf="second_innings_bat.length &gt; 0">
    <h2>Second Innings Bat</h2>
    <table mat-table [dataSource] = "second_innings_bat" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="batter">
          <th mat-header-cell *matHeaderCellDef> Batter </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['player_id']]"> {{element["player_name"]}}</a> </td>
        </ng-container>
      
        
        <ng-container matColumnDef="runs">
          <th mat-header-cell *matHeaderCellDef> Runs </th>
          <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="fours">
          <th mat-header-cell *matHeaderCellDef> Fours </th>
          <td mat-cell *matCellDef="let element"> {{element["nfours"]}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="sixes">
          <th mat-header-cell *matHeaderCellDef> Sixes </th>
          <td mat-cell *matCellDef="let element"> {{element["nsixes"]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
      
  </table>
  </div> 
  </div>

  <div class="right">
    <div *ngIf="first_innings_bowl.length &gt; 0">
      <h2> First Innings Bowl</h2>
      <table mat-table [dataSource] = "first_innings_bowl" class="mat-elevation-z8 demo2-table">
        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['bowler']]"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          <ng-container matColumnDef="balls_bowled">
            <th mat-header-cell *matHeaderCellDef> Balls Bowled </th>
            <td mat-cell *matCellDef="let element"> {{element["nballs"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="runs_given">
            <th mat-header-cell *matHeaderCellDef> Runs Given </th>
            <td mat-cell *matCellDef="let element"> {{element["total_runs"]}} </td>
          </ng-container>
        
          <ng-container matColumnDef="wickets">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
        
    </table> 
  </div>
    <br>
    <div *ngIf="second_innings_bowl.length &gt; 0">
    <h2>Second Innings Bowl</h2>
    <table mat-table [dataSource] = "second_innings_bowl" class="mat-elevation-z8 demo2-table">
      <ng-container matColumnDef="bowler">
          <th mat-header-cell *matHeaderCellDef> Bowler </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['bowler']]"> {{element["player_name"]}}</a> </td>
        </ng-container>
      
        <ng-container matColumnDef="balls_bowled">
          <th mat-header-cell *matHeaderCellDef> Balls Bowled </th>
          <td mat-cell *matCellDef="let element"> {{element["nballs"]}} </td>
        </ng-container>
      
        <ng-container matColumnDef="runs_given">
          <th mat-header-cell *matHeaderCellDef> Runs Given </th>
          <td mat-cell *matCellDef="let element"> {{element["total_runs"]}} </td>
        </ng-container>
      
        <ng-container matColumnDef="wickets">
          <th mat-header-cell *matHeaderCellDef> Wickets </th>
          <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
      
  </table>
</div>
  </div>
</div>
<br>
<h3> 
  Match Info Section
</h3>
<i>
  {{team1_name}} VS {{team2_name}}
  <br>
  Venue : {{venue_name}}
  <br>
  Umpire Name : {{umpire_name1}}, {{umpire_name2}}, {{umpire_name3}}
  <br> 
  Toss Winner : {{toss_winner}}
  <br>
  <table style = 'border : solid black; width: 700px;'>
    <tr>
      <td><b>{{team1_name}}</b></td>
      <td><b>{{team2_name}}</b></td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[0]}}</td>
      <td>{{team_2_playing_11[0]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[1]}}</td>
      <td>{{team_2_playing_11[1]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[2]}}</td>
      <td>{{team_2_playing_11[2]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[3]}}</td>
      <td>{{team_2_playing_11[3]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[4]}}</td>
      <td>{{team_2_playing_11[4]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[5]}}</td>
      <td>{{team_2_playing_11[5]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[6]}}</td>
      <td>{{team_2_playing_11[6]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[7]}}</td>
      <td>{{team_2_playing_11[7]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[8]}}</td>
      <td>{{team_2_playing_11[8]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[9]}}</td>
      <td>{{team_2_playing_11[9]}}</td>
    </tr>
    <tr>
      <td>{{team_1_playing_11[10]}}</td>
      <td>{{team_2_playing_11[10]}}</td>
    </tr>
  </table>
</i>
<h1>
  <u>
    Score Comparison

  </u>
  <i>
    {{match_id}} - IPL - {{season_year}}
  </i>
</h1>
<br>
<div>
  <div style="display: block">
      <canvas baseChart 
  [datasets]="comparisonChartData"
  [labels]="overLabels"
  [chartType]="comparison_chart"
  
  >
</canvas>
  </div>

</div>

<div class="splitscreen">
  <div class="left">
      <div *ngIf="first_innings_top_bat.length &gt; 0">
      <h2>First Innings Top Batsmen</h2>>
      <table mat-table [dataSource] = "first_innings_top_bat" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="batter">
            <th mat-header-cell *matHeaderCellDef> Batter </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['player_id']]"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          <ng-container matColumnDef="runs">
            <th mat-header-cell *matHeaderCellDef> Runs </th>
            <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
          </ng-container>
        
          
        
          <tr mat-header-row *matHeaderRowDef="displayColumn3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn3;"></tr>
        
    </table>
  </div>
    <br>
    <div *ngIf="second_innings_top_bat.length &gt; 0">
    <h2>Second Innings Top Batsmen</h2>
    <table mat-table [dataSource] = "second_innings_top_bat" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="batter">
          <th mat-header-cell *matHeaderCellDef> Batter </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['player_id']]"> {{element["player_name"]}}</a> </td>
        </ng-container>
      
        
        <ng-container matColumnDef="runs">
          <th mat-header-cell *matHeaderCellDef> Runs </th>
          <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
        </ng-container>
      
        
        
      
        <tr mat-header-row *matHeaderRowDef="displayColumn3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumn3;"></tr>
      
  </table>
</div>
  </div>

  <div class="right">
    <div *ngIf="first_innings_top_bowl.length &gt; 0">
      <h2> First Innings Top Bowler</h2>
      <table mat-table [dataSource] = "first_innings_top_bowl" class="mat-elevation-z8 demo2-table">
        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['player_id']]"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          
          <ng-container matColumnDef="wickets taken">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayColumn4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn4;"></tr>
        
    </table> 
  </div>
    <br>
    <div *ngIf="second_innings_top_bowl.length &gt; 0">
    <h2> Second Innings Top Bowler</h2>
      <table mat-table [dataSource] = "second_innings_top_bowl" class="mat-elevation-z8 demo2-table">
        <ng-container matColumnDef="bowler">
            <th mat-header-cell *matHeaderCellDef> Bowler </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/players',element['player_id']]"> {{element["player_name"]}}</a> </td>
          </ng-container>
        
          
          <ng-container matColumnDef="wickets taken">
            <th mat-header-cell *matHeaderCellDef> Wickets </th>
            <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayColumn4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn4;"></tr>
        
    </table> 
  </div>
  </div>
</div>
<br>
<div>
  <span><h4>Innings 1</h4></span>
  <div style="display: block">
      <canvas baseChart 
  [datasets]="pieChartData1"
  [labels]="pieChartLabels"
  [chartType]="pieChartType"
  
  >
</canvas>
  </div>

</div>
<br>
<br>
<div>
  <h4>Innings 2</h4>
  <div style="display: block">
      <canvas baseChart 
  [datasets]="pieChartData2"
  [labels]="pieChartLabels"
  [chartType]="pieChartType"
  
  >
</canvas>
  </div>

</div>






