<table mat-table [dataSource] = "second_innings_bat" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="batter">
        <th mat-header-cell *matHeaderCellDef> Batter </th>
        <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="runs">
        <th mat-header-cell *matHeaderCellDef> Runs </th>
        <td mat-cell *matCellDef="let element"> {{element["runs"]}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="fours">
        <th mat-header-cell *matHeaderCellDef> Fours </th>
        <td mat-cell *matCellDef="let element"> {{element["nfours"]}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="sixes">
        <th mat-header-cell *matHeaderCellDef> Sixes </th>
        <td mat-cell *matCellDef="let element"> {{element["nsixes"]}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    
</table>

<table mat-table [dataSource] = "second_innings_bowl" class="mat-elevation-z8 demo2-table">
    <ng-container matColumnDef="bowler">
        <th mat-header-cell *matHeaderCellDef> Bowler </th>
        <td mat-cell *matCellDef="let element"> <a href="www.google.com"> {{element["player_name"]}}</a> </td>
      </ng-container>
    
      <ng-container matColumnDef="balls_bowled">
        <th mat-header-cell *matHeaderCellDef> Balls Bowled </th>
        <td mat-cell *matCellDef="let element"> {{element["nballs"]}} </td>
      </ng-container>
    
      <ng-container matColumnDef="runs_given">
        <th mat-header-cell *matHeaderCellDef> Runs Given </th>
        <td mat-cell *matCellDef="let element"> {{element["total_runs"]}} </td>
      </ng-container>
    
      <ng-container matColumnDef="wickets">
        <th mat-header-cell *matHeaderCellDef> Wickets </th>
        <td mat-cell *matCellDef="let element"> {{element["nwickets"]}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
    
</table>

<!-- <div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="LineChartData" 
        [labels]="Labels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div> -->
